@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Arima Madurai', display;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 25px;
}

body {
  display: grid;
  padding: 10px;
  width: 100%;
  height: 100vh;
  column-gap: 15px;
  row-gap: 15px;
  grid-template-areas:
    "header header header header"
    "main main empty sidebar"
    "footer footer footer footer"
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f89426;
  border-radius: 15px;
}

main {
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3cbee6;
  border-radius: 15px;
}

.empty {
  grid-area: empty;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eb7171;
  border-radius: 15px;
}

footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #73c575;
  border-radius: 15px;
}
